[submodule "bocr/app/trainer"]
	path = bocr/app/trainer
	url = git@github.com:mrdvince/yolov5.git
	branch = mod

[submodule "bocr/ezolimo"]
	path = bocr/ezolimo
	url = git@github.com:mrdvince/ezolimo.git